{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <div class="my-5 position-absolute top-0 start-400 translate-middle">
                <h4>
                    <a href="{% url 'movies' %}" class="check-movies-button btn btn-lg text-uppercase">
                        Check the Documentaries Here
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}