{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content%}
<!-- User WishList Page -->
<div class="container">
  <div class="row mt-5">
      <div class="col">
          <h2 class="logo-font mb-4">Your Watchlist</h2>
          <hr>
      </div>
  </div>
<!-- User WishList Items -->
{% for movie in watchlist.movies.all %}
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-3">
      <div class="image-container mt-5">
        {% if "placeholder" in movie.featured_image.url %}
        <img class="card-img-top"
            src="https://res.cloudinary.com/carriecloud8348/image/upload/v1661843282/8fa7580221d4151653903b9a71a6a57e_gtwuov.jpg"
            alt="women_movie">
        {% else %}
        <img class="card-img-top" src=" {{ movie.featured_image.url }}" alt="women_movie">
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="products-detail-container my-5">
        <h3 class="mb-4 pt-md-5 text-muted font-weight-bold"> {{ movie.title }}</h3>
        <h4 class="text-muted">£{{ movie.director }}</h4>
      </div>
      <!-- Buttons -->
      <div class="text-center">
        <a class="btn btn-black rounded-0 text-uppercase mt-5" href="{% url 'remove_from_watchlist' movie.id %}">
          <span class="text-uppercase font-weight-bold">Remove from Watchlist</span>
        </a>
      </div>
    </div>
  </div>		
{% empty %}
  <div class="row justify-content-center">
    <!-- Wishlist Page "if" empty -->
    <div class="text-center mt-3">
      <h4 class="font-weight-bold text-uppercase">You have nothing in your Watchlist</h4>
    </div>
  </div>
{% endfor %}	
</div>
{% endblock %}